
<p class="title">Про нас</p>

<p class="text" style="line-height: 50px; text-align: left; margin-bottom: 100px; width: 100%">
&emsp;&emsp;Пекарня BREAD’N’MAD є прототипом найкращих європейських закладів.
Місце, де клієнт завжди може зустріти ароматну випічку, насолодитися кавою в естетичних інтер'єрах,
поспілкуватися з друзями у приємній атмосфері та насолодитися неперевершеним видом із вікна.
Тут можна посмакувати найкращим пончиком в окрузі, перекусити смачним тартом, взяти їжу з собою і почастувати друзів і близьких.
<br>&emsp;&emsp;Назва BREAD’N’MAD (букв. — «хліб та божевільний»), походить від того,
що скустувавши нашу продукцію вас це настільки здивує, що аж зведе з розуму. Але це лише жарт).
<br>&emsp;&emsp;Пекарня орієнтована на постійних покупців, що живуть недалеко,
а також на клієнтів, які приїжджають спеціально насолодитися чудовим прийомом їжі та кавою,
провести приємно час за дружньою розмовою чи побаченням.
<br>&emsp;&emsp;Меню складається з випічки та десертів, кави та чаю.
</p>


