<p class="title">Наші контакти</p>

<div class="container-map">
    <div>
        <p style="font-family: 'Playfair Display SC'; font-weight: bold" class="text-contact">
            КОНТАКТИ ПЕКАРНІ
            <br>
        <p style="font-family: 'Playfair Display'; font-weight: normal; text-decoration: underline" class="text-contact">
            м. Черкаси, вул. Героїв Дніпра <br>
            <a href = "tel:+380666619244">+380666619244</a><br>
            <a href = "mailto:alina.seikauskaite3@gmail.com">alina.seikauskaite3@gmail.com</a>
        </p>
        </p>
    </div>

    <div class="google-map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2594.
    2269273821225!2d32.074784076442434!3d49.
    44242787141731!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d14b70045f75af%3A0x161dafe589132c37
    !2z0YPQuy4g0JPQtdGA0L7QtdCyINCU0L3QtdC_0YDQsCwgNjksINCn0LXRgNC60LDRgdGB0YssINCn0LXRgNC60LDRgdGB0LrQsNGPINC
    -0LHQu9Cw0YHRgtGMLCDQo9C60YDQsNC40L3QsCwgMTgwMDA!5e0!3m2!1sru!2suk!4v1683236652746!5m2!1sru!2suk"
                allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>"
    </div>
</div>

    <br>

    <button><a href = "tel:+380666619244">Подзвонити</a></button>